@import "variables";
.navbar {
    .nav-link {
        color: white;
        &:hover {
            color: $primary; // Replace with your desired primary color
        }
    }
}
.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    padding: 12px;
    transition: all 0.5s;
}
.search-hover:hover {
    width: 300px;
    padding-left: 50px;
}

.cart:hover {
    fill: $primary;
}
.profile:hover {
    fill: $primary;
}
.bi-bookmark-plus:hover {
    color: $primary;
}
